# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.1-apache-node-browsers
      - image: circleci/mariadb:latest
        environment:
          - MYSQL_ROOT_HOST=%

    working_directory: ~/drupal-circleci-behat

    steps:
      - checkout

      - run:
          name: Apache
          command: |
            sudo cp .circleci/drupal-circleci-behat.conf /etc/apache2/sites-available/drupal-circleci-behat.conf
            sudo a2ensite drupal-circleci-behat
            sudo service apache2 start
            echo 127.0.0.1 drupal-circleci-behat.localhost | sudo tee -a /etc/hosts
            cat /etc/hosts
            curl drupal-circleci-behat.localhost

      - run:
          name: Tools
          command: |
            sudo apt-get -qq update && sudo apt-get -qqy upgrade
            sudo apt-get -yqq install libpng-dev mariadb-client nano
            sudo docker-php-ext-install gd mbstring mysqli pdo pdo_mysql
            sudo service apache2 restart

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Composer Install
          command: |
            composer install -n --prefer-dist
            echo 'export PATH=$HOME/drupal-circleci-behat/bin:$PATH' >> $BASH_ENV
            source /home/circleci/.bashrc

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.lock" }}

      - run:
          name: Site Install
          command: |
            cd web
            drush site:install --db-url=mysql://root@127.0.0.1/circle_test --site-name='Hello World' -y

      - run:
          name: Tests
          command: |
            behat --no-snippets -f pretty -o std

  deploy:
    machine:
      enabled: true
    working_directory: ~/drupal-circleci-behat
    steps:
      - checkout
#      - run:
#          name: Fix ssh Could not resolve hostname
#          command: |
#            ssh-keyscan "${LIVE_IP}" >> ~/.ssh/known_hosts
#            ssh-keyscan "${DEV_IP}" >> ~/.ssh/known_hosts

#      - add_ssh_keys: # add private SSH key from CircleCI account based on fingerprint
#          fingerprints:
#            - "14:09:a1:b2:b3:c4:d5:e6:f7:g8:h9:81:"

      - run: echo "${CIRCLE_BRANCH}"
#      - run: echo "${DEV_USER}"; echo "${DEV_IP}"; echo "${LIVE_USER}"; echo "${LIVE_IP}";
#      - run:
#          name: Deploy master
#          command: if [ "${CIRCLE_BRANCH}" == "master" ]; then ssh -p "${LIVE_PORT}" "${LIVE_USER}"@"${LIVE_IP}" 'cd /var/www/drupal-circleci-behat/scripts/deployment && . deploy.sh'; else echo "Skipped"; fi
#      - run:
#          name: Deploy dev
#          command: if [ "${CIRCLE_BRANCH}" == "develop" ]; then ssh -p "${DEV_PORT}" "${DEV_USER}"@"${DEV_IP}" 'cd /var/www/drupal-circleci-behat/scripts/deployment && . deploy.sh'; else echo "Skipped"; fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
